:root {
   --h1-color: yellow;
  --h2-color: red;
  --h3-color: red;
  --h4-color: red;
  --h5-color: red;
  --h6-color: red;
  --h1-font: red;
  --h2-font: red;
  --h3-font: red;
  --h4-font: red;
  --h5-font: red;
  --h6-font: red;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --h1-size: 4.0em;
  --h2-size: 2.0em;
  --h3-size: 0.8em;
  --h4-size: 0.8m;
  --h5-size: 0.5em;
  --h6-size: 1em;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: normal;
  --h4-style: normal;
  --h5-style: normal;
  --h6-style: normal;
  --h1-variant: normal;
  --h2-variant: normal;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
}